/* External fonts */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
/* Color Variables */
:root {
  --red: #ed1d24;
  --black: #000000;
  --gray: rgba(80, 74, 74, 0.4);
  --white: #ffffff;
  --darkblue: #448aff;
  --lightblue: #518cca;
}

body {
  font-family: PT Sans;
  background: antiquewhite;
}
